body{
	background-color:#D7D7D7;
}
#main{
	width:1200px;
	margin:auto;
}
header{
	height:200px;
	background-color:#EB6AA3;
}
#title{
	color:#610659;
	padding-top:40px;
	padding-left:160px;
	font-size:84px;
	font-weight:bold;
	font-family:"Arial Black", Gadget, sans-serif;
	float:left;
}
#subheading{
	color:#130873;
	padding-top:80px;
	padding-left:80px;
	width:400px;
	word-wrap:normal;
	font-weight:bold;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	float:left;
}
nav{
	clear:both;
	background-color:#FFCA73;
	border-color:#FF9F00;
	width:1200px;
	height:30px;
}
nav ul{
	margin:0;
	padding-left:50px;;
	list-style:none;
	}
nav ul li{
	float:left;
	margin:0;
	padding:0;
	padding-left:25px;
	padding-right:25px;
	padding-top:5px;
	font-size:20px;
	font-weight:bold;
	} 
nav ul li:hover{
	border-style:dotted;
	border-color:#A66800;
	padding-top:0px;
	border-radius:10px;
	margin:0;
	}
nav ul li a{
	text-decoration:none;
	color:#130873;
	}
section{
	clear:both;
	float:left;
	background-color:#FFFFFF;
	width:1000px;
}
#ins{
	
	}
aside{
	float: left;
	background-color: #A79FE9;
	border-color: #589800;
	border-style: double;
	width: 192px;
	height:300px;
}
footer{
	clear:both;
	height:50px;
	background-color:#EB6AA3;
}

	
